body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dark{
    --contrast-color: #dedede !important;
    --contrast-secondary-color: #b5b5b5 !important;
    --contrast-tertiary-color: #8c8c8c !important;
    
    --background-color: #212121 !important;
    --background-secondary-color: #353535 !important;
    --background-tertiary-color: #4d4d4d !important;
    --sort-hover-color: #616161 !important; 
    --background-blur-color: #212121b3 !important;
    --error-color: #ff1616 !important;


  --accent-color: #43b0f1 !important;
  --accent-secondary-color: #3194ce !important;  /* Still vibrant but more balanced */
  --accent-tertiary-color: #2b8bc2 !important; 
  --accent-dark-color: #007527 !important;

}
/*
.light{
  --accent-color: #00cc44 !important;
    --accent-secondary-color: #26be59 !important;  
    --accent-tertiary-color: rgb(81, 230, 131) !important; 
    --accent-dark-color: #007527 !important;
    --contrast-color: #212121 !important;
    --contrast-secondary-color: #3f3f3f !important;
    --contrast-tertiary-color: #666666 !important;
    --background-color: #dedede !important;
    --error-color: #ff1616 !important;
}

*/
.light{
  --accent-color: #43b0f1 !important;
  --accent-secondary-color: #3194ce !important;  /* Still vibrant but more balanced */
  --accent-tertiary-color: #2b8bc2 !important; 
  --accent-dark-color: #007527 !important;
  --contrast-color: #000000 !important;
  --contrast-secondary-color: #333333 !important;
  --contrast-tertiary-color: #666666 !important;
  --background-color: #ffffff !important;
  --background-secondary-color: #cccccc !important;
  --background-tertiary-color: #f4f6f9 !important;
  --sort-hover-color: #eeeeee !important; 
  --background-blur-color: #dededeb3 !important;
  --error-color: #ff1616 !important;
}